@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #39ff14;
  --secondary-color: #0b0b0b;
  --accent-color: #232323;
  --accent2-color: #393939;
  --accent3-color: #4f4f4f;
  --text-primary: #fff;
  --text-secondary: #ffffff80;
  --bg-trans: #ffffff10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--secondary-color);
  color: var(--text-primary);
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.overflow-wrapper {
  width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* CLASSES TO MAKE MODAL WORK */

.close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  line-height: 2.4rem;
  color: var(--text-secondary);
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;

  background-color: var(--accent-color);
  padding: 2.4rem;
  border-radius: 1rem;
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 5;
}
